{% extends 'cinema/base.html' %}

{% block description %}Sign-In{% endblock %}


{% block title %}Sign-In{% endblock %}


{% block main_content %}

<div class="row justify-content-md-center my-3">
  <div class="col-md-auto">
    <h2>Sign-In</h2>
  </div>
</div>
<div class="row justify-content-md-center mb-3">
  <div class="col-md-auto">

    {% if form.errors %}

    <h5 style="color:#c40000">There was a problem!</h5>
    <p>Your username and password didn't match. Please try again.</p>

    {% endif %}

    {% if next %}

    {% if user.is_authenticated %}

    <h5 style="color:#c40000">There was a problem!</h5>
    <p>Your account doesn't have access to this page. To proceed, please login with an
      account that has access.</p>

    {% else %}

    <p>Please login to see this page</p>

    {% endif %}

    {% endif %}

    <form method="post">

      {% csrf_token %}

      {{ form.as_p}}

      <div class="row justify-content-center">
        <input type="submit" value="login" class="btn btn-primary btn-lg"/>
        <input type="hidden" name="next" value="{{ next }}"/>
      </div>
    </form>
    <p align="center"><a href="{% url 'password_reset' %}">Lost password?</a></p>
  </div>
</div>
<div class="row justify-content-md-center my-3">
  <div class="col-md-auto mx-auto social-container my-2 order-md-1">
    <button class="btn btn-danger mb-2">
      <a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a>
    </button>
    <button class="btn btn-primary mb-2">
      <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
    </button>
    <button class="btn btn-info mb-2">
      <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a>
    </button>
  </div>
</div>

{% endblock main_content %}
