{% extends 'layout/base.html' %}

{% load bootstrap4 %}

{% block description %}Password Reset{% endblock %}


{% block title %}Password Reset{% endblock %}


{% block main_content %}

<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <h2 class="text-center mt-1 mb-4" style="color: #e6010a;">Password Reset</h2>
    <form method="post">

      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}

      <center>
        {% buttons submit='Reset' %}{% endbuttons %}
      </center>

    </form>
  </div>
</div>
<div class="row justify-content-md-center my-3">
  <div class="col-md-auto">
    <a href="{% url 'login' %}">Click here to login again</a>
  </div>
</div>

{% endblock main_content %}
