{% extends 'layout/base.html' %}

{% load bootstrap4 %}

{% block description %}Password Change{% endblock %}

{% block title %}Password Change{% endblock %}

{% block main_content %}
<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <h2 class="text-center mt-1 mb-4" style="color: #e6010a;">
      Changing Password of User
      <span class="text-dark">
      {% if user.get_full_name %}
        {{ user.get_full_name }}
      {% else %}
        {{ user.username }}
      {% endif %}
      </span>
    </h2>
    <form method="post" class="my-3">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      <div class="text-center">
        {% buttons submit='Change Password' %}{% endbuttons %}
      </div>
    </form>
  </div>
</div>
{% endblock main_content %}
