{% extends 'layout/base.html' %}

{% load bootstrap4 %}

{% block description %}Password Reset Completed{% endblock %}

{% block title %}Password Reset Completed{% endblock %}

{% block main_content %}
<h2 class="text-center mt-1 mb-4" style="color: #e6010a;">
  Password Reset Completed
</h2>
<div class="row justify-content-md-center mb-3">
  <div class="col-md-auto">
    <p class="text-left">New password has been set for user.</p>
    <p class="text-center mt-3">
      <a href="{% url 'login' %}">Click here to login</a>
    </p>
  </div>
</div>
{% endblock main_content %}
