{% extends 'layout/base.html' %}

{% load bootstrap4 %}

{% block description %}Registration Completed{% endblock %}


{% block title %}Registration Completed{% endblock %}


{% block main_content %}

<h2 class="text-center mt-1 mb-4" style="color: #e6010a;">
  User Registration
</h2>
<div class="row justify-content-md-center mb-3">
  <div class="col-md-auto">
    <p class="text-left">User registration is complete.</p>
    <p class="text-left mt-3">We've emailed You instructions for activation Your
      account. If it haven't arrived in a few minutes, check Your spam folder.
    </p>
  </div>
</div>

{% endblock main_content %}
