{% extends 'layout/base.html' %}

{% load bootstrap4 %}

{% block description %}Password Reset Done{% endblock %}


{% block title %}Password Reset Done{% endblock %}


{% block main_content %}

<h2 class="text-center mt-1 mb-4" style="color: #e6010a;">Password Reset</h2>
<div class="row justify-content-md-center mb-3">
  <div class="col-md-auto">
    <p class="text-left">Password reset email has been sent to email address
      specified by user during registration.</p>
  </div>
</div>

{% endblock main_content %}
