{% extends 'layout/base.html' %}

{% block description %}Password Reset{% endblock %}


{% block title %}Password Reset{% endblock %}


{% block main_content %}

<div class="row justify-content-md-center my-3">
  <div class="col-md-auto">
    <h2>Password Reset</h2>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-md-auto" align="center">
    <form action="" method="post">

      {% csrf_token %}

      {% if form.email.errors %} {{ form.email.errors }} {% endif %}

      <p>{{ form.email }}</p>

      <input type="submit" class="btn btn-primary btn-lg mt-3" value="Reset password"/>
    </form>
  </div>
</div>
<div class="row justify-content-md-center mb-3">
  <div class="col-md-auto">
    <a href="{% url 'login' %}">Click here to login again</a>
  </div>
</div>

{% endblock main_content %}
