{% load datetime_filter get_key_filter %}

<table class="table table-responsive table-striped">
  <tbody class="align-top">
  <tr>
    <th scope="col">Year:</th>
    <td>
      <a href="{% url 'cinema:year-film-list' cinema.year %}">{{ cinema.year }}</a>
    </td>
  </tr>
  <tr>
  {% with countries=film_info|get_key:'country__name' %}
    <th scope="col">Countr{{ countries|pluralize:"y,ies" }}:</th>
    <td>
    {% for country in countries|dictsort:0 %}
      <a href="{% url 'cinema:country-film-list' country %}">
        {{ country }}
      </a>
      {% if not forloop.last %} | {% endif %}
    {% endfor %}
    </td>
  {% endwith %}
  </tr>
  <tr>
  {% with genres=film_info|get_key:'genre__name' %}
    <th scope="col">Genre{{ genres|pluralize:"s" }}:</th>
    <td>
    {% for genre in genres|dictsort:0 %}
      <a href="{% url 'cinema:genre-film-list' genre %}">
        {{ genre }}
      </a>
      {% if not forloop.last %} | {% endif %}
    {% endfor %}
    </td>
  {% endwith %}
  </tr>
  {% for profession, persons in film_cast_and_crew.items %}
    <tr>
      <th scope="col">{{ profession }}{{ persons|pluralize:"s" }}:</th>
      <td>
      {% for person in persons %}
        <a href="{% url 'cinema:movie-person-detail' person.pk %}">
          {{ person.name }}</a>{% if not forloop.last %},{% endif %}
      {% endfor %}
      </td>
    </tr>
  {% endfor %}
  <tr>
    <th scope="col">Runtime:</th>
    <td>
      {{ cinema.run_time|format_datetime }}
    </td>
  </tr>
  </tbody>
</table>
